<?xml version="1.0" encoding="utf-8" ?> 
<configuration>

    <facilities>
        <facility 
            id="logging"
            type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
            loggingApi="log4net"
            configFile="Config/log4net.config" />
            
        <facility 
            id="arintegration" 
            type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration" 
            isWeb="true">
            
            <assemblies>
                <item>Spread.Core</item>
            </assemblies>
        
            <config>
                
              <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
              <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
              <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
              <add key="connection.connection_string" value="Data Source=localhost;Initial Catalog=Spread;User ID=user;Password=password" />
              <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
<!--               <add key="hibernate.search.default.directory_provider" value="NHibernate.Search.Store.FSDirectoryProvider, NHibernate.Search" />
              <add key="hibernate.search.default.indexBase" value="c:\LuceneSearch" />
              <add key="hibernate.search.analyzer" value="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" /> -->
            </config>
        </facility>

    </facilities>

    <components>
        
        <component 
            id="Spread.Configuration.DB"
            service="Spread.Core.Config.IAppConfigurationService, Spread.Core"
            type="Spread.Core.Config.AppDbConfigurationService, Spread.Core" />

        <component 
            id="Spread.Repository.StaticFiles"
            service="Spread.Core.UI.Resources.IStaticFilesRepository, Spread.Core"
            type="Spread.Core.UI.Resources.LocalRepository, Spread.Core">
            <parameters>
                <baseUrl>http://mycdn.com/myfuck/</baseUrl>
            </parameters>
        </component>
        

            
    </components>

</configuration>
